In [3]:
"""
Connect senior:Mainland
"""
import pandas as pd
import json
import requests
def ssql(sql):
    admin_token = '2cebeb5c7edac5ef0d7c5a640e69fc7d43bf2cd6a24ce43dfee3dd33662c0bab'
    url = 'http://sensor.wb-intra.com/api/sql/query?token=%s&project=production' % admin_token
    data = {'q': sql, 'format': 'json'}
    req = requests.post(url,data)
    req_dec = req.content.decode()
    try:
        req_json = json.loads('[' + req_dec.replace('\n', ',')[:-1] + ']')
        df_d_id = pd.DataFrame(req_json)
        return df_d_id
    except:
        print(req_dec)

In [4]:
df_big_R=ssql('''SELECT date, count(distinct distinct_id) big_r, sum(pay) all_big_r, sum(pay)/count(distinct distinct_id) avg_big_r
from events
where event = 'pay'
and date between current_date() - interval '20' day  and current_date() - interval '1' day
AND distinct_id in (select distinct_id
                    from events
                    where event = 'pay'
                    and date between current_date() - interval '30' day  and current_date() - interval '1' day
                    group by 1,date
                    having sum(pay) between 10000 and 25000)
group by 1
order by 1''')

In [5]:
df_big_R

          date  big_r  all_big_r  avg_big_r
0   2020-09-04     56     279396   4989.214
1   2020-09-05     63     337316   5354.222
2   2020-09-06     59     239266   4055.356
3   2020-09-07     60     253278   4221.300
4   2020-09-08     73     440750   6037.671
5   2020-09-09     62     329414   5313.129
6   2020-09-10     58     319584   5510.069
7   2020-09-11     61     264202   4331.180
8   2020-09-12     74     339610   4589.324
9   2020-09-13     69     309656   4487.768
10  2020-09-14     65     294152   4525.415
11  2020-09-15     71     381736   5376.563
12  2020-09-16     64     186898   2920.281
13  2020-09-17     70     195110   2787.286
14  2020-09-18     65     234600   3609.231
15  2020-09-19     68     318900   4689.706
16  2020-09-20     60     184100   3068.333
17  2020-09-21     59     272728   4622.508
18  2020-09-22     62     239994   3870.871
19  2020-09-23     59     166334   2819.220

In [10]:
for date in pd.date_range('2020-01-01','2020-04-01'):
    print(str(date.to_period()))

2020-01-01
2020-01-02
2020-01-03
2020-01-04
2020-01-05
2020-01-06
2020-01-07
2020-01-08
2020-01-09
2020-01-10
2020-01-11
2020-01-12
2020-01-13
2020-01-14
2020-01-15
2020-01-16
2020-01-17
2020-01-18
2020-01-19
2020-01-20
2020-01-21
2020-01-22
2020-01-23
2020-01-24
2020-01-25
2020-01-26
2020-01-27
2020-01-28
2020-01-29
2020-01-30
2020-01-31
2020-02-01
2020-02-02
2020-02-03
2020-02-04
2020-02-05
2020-02-06
2020-02-07
2020-02-08
2020-02-09
2020-02-10
2020-02-11
2020-02-12
2020-02-13
2020-02-14
2020-02-15
2020-02-16
2020-02-17
2020-02-18
2020-02-19
2020-02-20
2020-02-21
2020-02-22
2020-02-23
2020-02-24
2020-02-25
2020-02-26
2020-02-27
2020-02-28
2020-02-29
2020-03-01
2020-03-02
2020-03-03
2020-03-04
2020-03-05
2020-03-06
2020-03-07
2020-03-08
2020-03-09
2020-03-10
2020-03-11
2020-03-12
2020-03-13
2020-03-14
2020-03-15
2020-03-16
2020-03-17
2020-03-18
2020-03-19
2020-03-20
2020-03-21
2020-03-22
2020-03-23
2020-03-24
2020-03-25
2020-03-26
2020-03-27
2020-03-28
2020-03-29
2020-03-30
2020-03-31
2020-04-01